{% load static %}

<div class="invoice">

    {% if global_invoice.paid == False %}

    <div style="text-align: center">
        <a href="{% url 'invoices:pay-now' pk=global_invoice.pk %}" class="btn btn-success btn-lg">Pay Now</a>
    </div>

    {% else %}

    <div style="text-align: center;">
        <h1><span class="text-success">PAID</span></h1>
    </div>

    {% endif %}


    <div class="invoice_outer_container p-4" style="text-align: center;" style="margin: 20px auto; border: 2px solid black;">
        <div style="text-align: center;"><h1>Invoice</h1></div>
        <hr>
        <div style="width: 50%; float: left; font-family: Arial, Helvetica, sans-serif; font-size: 0.75em;">

            <table style="text-align: left;">
                <tr>
                    
                    <td>
                        <table>
                            <tr>
                                <td colspan="2" style="font-size: 1.5em;"><strong>Ayatech (PTY) LTD T/A TenderPros</strong></td>
                            </tr>
                            <tr>
                                <td>Reg No.</td>
                                <td>2017/417565/07</td>
                            </tr>
                            <tr>
                                <td>VAT:</td>
                                <td>N/A</td>
                            </tr>
                            <tr>
                                <td>Email:</td>
                                <td>ayatech.co@gmail.com</td>
                            </tr>
                            <tr>
                                <td>Website:</td>
                                <td>https://www.tenderpros.co.za</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

        </div>
        <div class="clear"></div>

        <div style="width: 50%; float: right; font-family: Arial, Helvetica, sans-serif;">
            <table style="text-align: left;">
                <tr>
                    <td>Date:</td>
                    <td>{{ global_invoice.invoice_date|date:"d M Y" }}</td>
                </tr>
                <tr>
                    <td>Invoice#:</td>
                    <td>{{ global_invoice.invoice_num }}</td>
                </tr>
            </table>

        </div>

        <div class="clear"></div>

        <br>
        
        <br>

        <div style="text-align: left;">
            <table>
                <thead>
                <th scope="col" width="35%"></th>
                <th scope="col" width="65%"></th>
                </thead>
                <tr>
                    <td colspan="2" style="font-size: 1.2em;"><strong>BILL TO:</strong></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><strong>{{ global_invoice.sp.name }}</strong></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>{{ global_invoice.sp.address }}</td>
                </tr>
                <tr>
                    <td>Contact Person:</td>
                    <td>{{ global_invoice.sp.user.get_full_name }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ global_invoice.sp.user.email }}</td>
                </tr>
                <tr>
                    <td>Contact number:</td>
                    <td>{{ global_invoice.sp.contact_num}}</td>
                </tr>
            </table>
        </div>

        <br>

        <div style="height: 300px; border: 1px dashed black;">

            <table class="table table-borderless">
                <thead style="background: black; color: white;">
                <tr>
                    <th scope="col" width="55%">
                        DESCRIPTION
                    </th>
                    <th scope="col" width="5%">
                        QTY
                    </th>
                    <th scope="col" width="20%">
                        UNIT PRICE
                    </th>
                    <th scope="col" width="20%">
                        LINE TOTAL
                    </th>
                </tr>
                </thead>


                <tr>
                    <td>
                        <strong>{{ global_invoice.plan.plan.name }}</strong> <span>plan @ x12 Months</span>
                    </td>
                    <td>1</td>
                    <td>
                        {{ global_invoice.plan.plan.price }}
                    
                    </td>
                    <td>
                        {{ global_invoice.plan.plan.price }}

                    </td>
                   
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><strong>SUBTOTAL</strong></td>
                    <td>
                        {{ global_invoice.plan.plan.price }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><strong>VAT @ 15%</strong></td>
                    <td>
                        N/A
                    </td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td><strong>TOTAL</strong></td>
                    <td>
                        {{ global_invoice.plan.plan.price }}
                    </td>
                </tr>


            </table>

        </div>

        <br>

        <div id="banking_details" style="text-align: left;" style="font-size: .8em;">
            <h6 style="text-align: left;"><strong>TenderPros banking details</strong></h6>
            <table>
                <tr>
                    <td>Account holder:</td>
                    <td>Ayatech (PTY) LTD</td>
                </tr>
                <tr>
                    <td>Bank:</td>
                    <td>Capitec Bank</td>
                </tr>
                <tr>
                    <td>Account number:</td>
                    <td>1204144123</td>
                </tr>
                <tr>
                    <td>Branch Code:</td>
                    <td>470010</td>
                </tr>
                <tr>
                    <td>Ref:</td>
                    <td>{{global_invoice.plan.pymnt_ref}}</td>
                </tr>
            </table>
        </div>


        <div style="width: 40%; float: right;">
            <h6 style="text-align: left;"><strong><i>Notes:</i></strong></h6>
            <div class="p-2" style="text-align: left;" style="border: 1px solid black; height: 100px;">
                <p><i>The payment is due within 7 days of this invoice.</i></p>
            </div>
        </div>

        <div class="clear"></div>

        <br>

        <div style="background: grey; color: white;"><h3><i>THANK YOU FOR YOUR BUSINESS</i></h3></div>

    </div>


</div>