{% extends "base.html" %}
{% load static %}
{% block title %}Contact Us{% endblock %}


{% block homepage_banner %}
{% include 'banner.html' with page='Contact Us' only %}
{% endblock homepage_banner  %}


{% block content %}


<section id="content" class="section-padding">
    <div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-xs-12">
            <div class=" mb-4">
            <h3>Get in touch with us</h3>
            <div class="contact-datails">
            <p>If you have any queries or need assistance with sa-leads, we're here to help. Please take a moment to fill out the form on the right-hand side, providing us with your contact details and a brief description of how we can assist you. One of our dedicated representatives will promptly respond to your message and provide the support you need.
                <br>
                <br>
                We value your time and strive to provide excellent customer service. Whether you have questions about our products, need technical assistance, or require further information, we are committed to addressing your concerns in a timely manner.
                <br>
                <br>
                Thank you for reaching out to us. We look forward to assisting you and providing a satisfactory solution.</p>
            </div>
            </div>
           
            </div>
    <div class="col-lg-8 col-md-8 col-xs-12">
    
    <form id="contactForm" class="contact-form" data-toggle="validator">
    <h2 class="contact-title">
    Send Us a Message
    </h2>
    <div class="row">
    <div class="col-md-12">
    <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
    <input type="text" class="form-control" id="name" name="name" placeholder="Name" required data-error="Please enter your name">
    <div class="help-block with-errors"></div>
    </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
    <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
    <div class="help-block with-errors"></div>
    </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
    <div class="form-group">
        <input type="text" class="form-control" id="msg_subject" name="contact_num" placeholder="Contact Number" required data-error="Please enter your contact number">
        <div class="help-block with-errors"></div>
    </div>
    </div>
    </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input type="text" class="form-control" id="msg_subject" name="subject" placeholder="Subject" required data-error="Please enter your subject">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
    </div>
   
    
    <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
    <div class="col-md-12">
    <div class="form-group">
    <textarea class="form-control" placeholder="Massage" rows="7" data-error="Write your message" required></textarea>
    <div class="help-block with-errors"></div>
    </div>
    </div>
    </div>
     </div>
    <div class="col-md-12">
    <button type="submit" id="submit" class="btn btn-common">Submit Now</button>
    <div id="msgSubmit" class="h3 text-center hidden"></div>
    <div class="clearfix"></div>
    </div>
    </div>
    </form>
    </div>
    
    </div>
    </div>
    </section>

{% endblock %}